# *source* run script in current shell, source可以简写为"."
# *bash* run script in a subshell

if [ "`pwd`" = "/" ]; then
    cd ~
fi

set -o vi
alias f='func(){ find $1 -type f -exec grep $2 -l {} \; ; }; func'
alias x=exit
alias py=python3
alias cd='func() { cd $1; ls; }; func'
alias grep='grep --color=auto'
alias rm='rm -rf'

alias ga='git add -A'
alias gc='git commmit -m $1'
alias gap='func(){ git add -A; git commit -m $1; git push; git status; }; func'
alias gs='git status'
alias gp='git push'
alias gp2='git push origin2'
alias gpl='git pull'

# Win
alias hidedir='func() { attrib +h +s +r $1; }; func'
alias showdir='func() { attrib -h -s -r $1; }; func'

alias cors='cd "C:\Program Files (x86)\Google\Chrome\Application";start chrome.exe --disable-web-security --user-data-dir=$HOME/Software/chrome'
alias icloud='cd ~/iCloudDrive/'
alias open='start'
# end Win

#iSH
将 | clip 替换成 > /dev/clipboard
    echo -e "\033[30;43m复制了$file的内容到剪切版\033[0m" && cat $file| tr "\r\n" " " > dev/clipboard
    echo -e "\033[30;43m已复制到剪切版\033[0m" && sed -n $1p ~/.cb | tr "\r\n" " " > clip
# end iSH

# Mac
默认 ~/.zshrc
Mac需将clip 替换成pbcopy
Mac上sed命令与linux下稍有不同。Mac上默认提供修改时的备份机制, 所以sed -i $2d 要改成 sed -i "" $2d 代表修改无需备份

alias cors='open -n /Applications/Google\ Chrome.app/ --args --disable-web-security  --user-data-dir=$HOME/Software/chrome'
alias vol='func() { osascript -e "set volume output volume $1"; }; func' # 音量调节
alias del='func() { mv $@ ~/.Trash; }; func'

export CLICOLOR=1
export HOMEBREW_BOTTLE_DOMAIN=https://mirrors.aliyun.com/homebrew/homebrew-bottles
export PATH="/usr/local/bin:$PATH"
export PATH="/usr/local/sbin:$PATH"
export PATH="/usr/local/opt/php@7.4/bin:$PATH"
export PATH="/usr/local/opt/php@7.4/sbin:$PATH"

if [ -d "/usr/local/opt/ruby/bin" ]; then
  export PATH=/usr/local/opt/ruby/bin:$PATH
  export PATH=`gem environment gemdir`/bin:$PATH
fi

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export PS1="%d %# " 
# End Mac
